body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.search {
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 15px;
}

.search-field {
    width: 330px;
    padding: 5px;
    border: 1px solid #4286f4;
}

.box {
    cursor: pointer;
    padding: 5px;
}

.box:hover {
    background-color: #4286f4;
    color: white;
}

.button {
    text-align: center;
    padding: 5px;
    background-color: white;
    border: 1px solid #4286f4;
    cursor: pointer;
    width: 342px;
}

ul {
    background: white;
    border: 1px solid #4286f4;
    overflow: auto;
    padding: 0px;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}
